<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Página Login - {{horario}}</h1>
    <form action="/perfil" method="post">
        e-mail: <input type="email" name="email" id=""> <br>
        senha:  <input type="password" name="pass" id=""> <br>
        <input type="submit" value="enviar" id="">
    </form>
    {% if (ehErro) %}
    <h3>Acesso incorreto, tente novamente!</h3>
    {% endif %}

</body>
</html>